header{
    display: flex;
    height: 100px;
    background-color: cornflowerblue;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    margin-right: 10px;
}

.container{
    align-items: center;
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(66, 65, 131, 0.2);
    background: #a8dbe4;
    cursor: default;
    transition: all 400ms ease;
    display: flex;
    justify-content: center;
    
}
.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}
.card img{
    width: 100%;
    height: 200px;
}
.card.contenido{
    padding: 15px;
    text-align: right;

}

.card.contenido p{
    line-height: 1.5;
    color: #6a6a6a;
    

}
.card.contenido h3{
    font-weight: 400;
    margin-bottom: 15px;

}
.card.contenido button{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #2fb42f;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
}
.container2{
    column-gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(66, 65, 131, 0.2);
    background: #c0e1e7;
    cursor: default;
    transition: all 400ms ease;
    
}
.card2:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}
.card2 img{
    width: 100%;
    height: 200px;
}
.card2.contenido{
    padding: 15px;
    text-align: right;

}

.card2.contenido p{
    line-height: 1.5;
    color: #6a6a6a;
    
}
.card.contenido h3{
    font-weight: 400;
    margin-bottom: 15px;

}
.card.contenido button{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #2fb42f;
    border: 1px solid #d0e7eb;
    border-radius: 4px;
    transition: all 400ms ease;
}
.card.contenido h3{
    font-weight: 400;
    margin-bottom: 15px;

}
.card.contenido button{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #2fb42f;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
}
.container3{
    column-gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(66, 65, 131, 0.2);
    background: #86b3bb;
    cursor: default;
    transition: all 400ms ease;
    
}
.card3:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}
.card3 img{
    width: 100%;
    height: 200px;
}
.card3.contenido{
    padding: 15px;
    text-align: right;

}

.card3.contenido p{
    line-height: 1.5;
    color: #6a6a6a;
    
}
.card3.contenido h3{
    font-weight: 400;
    margin-bottom: 15px;

}
.card.contenido button{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #2fb42f;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
}